/**
 * @name HighNoon
 * @description a light, customizable discord theme.
 * @author refact0r, mohhar
 * @version 1
 * @source https://github.com/refact0r/midnight-discord/blob/master/themes/flavors/midnight-rose-pine-moon.theme.css

*/

/* import theme modules */
@import url('https://mohhar.github.io/HighNoon/build/HighNoon.css');

body {
    /* font, change to '' for default discord font */
    --font: 'figtree'; /* change to '' for default discord font */
    --code-font: ''; /* change to '' for default discord font */
    font-weight: 500 /* normal text font weight. DOES NOT AFFECT BOLD TEXT */;

    /* sizes */
    --gap: 12px; /* spacing between panels */
    --divider-thickness: 4px; /* thickness of unread messages divider and highlighted message borders */
    --border-thickness: 4px; /* thickness of borders around main panels. DOES NOT AFFECT OTHER BORDERS */

    /* animation/transition options */
    --animations: on; /* off: disable animations/transitions, on: enable animations/transitions */
    --list-item-transition: 0.2s ease; /* transition for list items */
    --dms-icon-svg-transition: 0.4s ease; /* transition for the dms icon */
    --border-hover-transition: 0.2s ease; /* transition for borders when hovered */

    /* top bar options */
    --top-bar-height: var(--gap); /* height of the top bar (discord default is 36px, old discord style is 24px, var(--gap) recommended if button position is set to titlebar) */
    --top-bar-button-position: titlebar; /* off: default position, hide: hide buttons completely, serverlist: move inbox button to server list, titlebar: move inbox button to channel titlebar (will hide title) */
    --top-bar-title-position: off; /* off: default centered position, hide: hide title completely, left: left align title (like old discord) */
    --subtle-top-bar-title: off; /* off: default, on: hide the icon and use subtle text color (like old discord) */

    /* window controls */
    --custom-window-controls: on; /* off: default window controls, on: custom window controls */
    --window-control-size: 14px; /* size of custom window controls */

    /* dms button options */
    --custom-dms-icon: hide; /* off: use default discord icon, hide: remove icon entirely, custom: use custom icon */
    --dms-icon-svg-url: url('https://refact0r.github.io/midnight-discord/assets/Font_Awesome_5_solid_moon.svg'); /* icon svg url. MUST BE A SVG. */
    --dms-icon-svg-size: 90%; /* size of the svg (css mask-size property) */
    --dms-icon-color-before: var(--icon-subtle); /* normal icon color */
    --dms-icon-color-after: var(--white); /* icon color when button is hovered/selected */
    --custom-dms-background: image; /* off to disable, image to use a background image (must set url variable below), color to use a custom color/gradient */
    --dms-background-image-size: cover; /* size of the background image (css background-size property) */
    --dms-background-color: linear-gradient(70deg, var(--blue-2), var(--purple-2), var(--red-2)); /* fixed color/gradient (css background property) */

    /* background image options */
    --background-image: off; /* off: no background image, on: enable background image (must set url variable below) */
    --background-image-url: url(''); /* url of the background image */

    /* transparency/blur options */
    /* NOTE: TO USE TRANSPARENCY/BLUR, YOU MUST HAVE TRANSPARENT BG COLORS. FOR EXAMPLE: --bg-4: hsla(220, 15%, 10%, 0.7); */
    --transparency-tweaks: off; /* off: no changes, on: remove some elements for better transparency */
    --remove-bg-layer: off; /* off: no changes, on: remove the base --bg-3 layer for use with window transparency (WILL OVERRIDE BACKGROUND IMAGE) */
    --panel-blur: off; /* off: no changes, on: blur the background of panels */
    --blur-amount: 12px; /* amount of blur */
    --bg-floating: var(--bg-3); /* set this to a more opaque color if floating panels look too transparent. only applies if panel blur is on  */

    /* chatbar options */
    --custom-chatbar: off; /* off: default chatbar, separated: chatbar separated from chat */
    --chatbar-height: 47px; /* height of the chatbar (56px by default, 47px to align with user panel, 56px recommended for separated) */

    /* other options */
    --small-user-panel: on; /* off: default user panel, on: smaller user panel like in old discord */
}

/* color options */
:root {
    --colors: on; /* off: discord default colors, on: midnight custom colors */

    /* text colors */
    --text-0: var(--bg-4); /* text on colored elements */
    --text-1: #191715; /* other normally white text */
    --text-2: #322F2A; /* headings and important text */
    --text-3: #4B473F; /* normal text */
    --text-4: #645F54; /* icon buttons and channels */
    --text-5: #7D7769; /* muted channels/chats and timestamps */

    /* background and dark colors */
    --bg-1: #8EAA8E; /* dark buttons when clicked */
    --bg-2:#9EBD9E; /* dark buttons */
    --bg-3: #FAEED3; /* spacing, secondary elements */
    --bg-4: #FFF1E2; /* main background color */
    --hover: hsla(0, 0%, 23%, 0.1); /* channels and buttons when hovered */
    --active: #8EAA8E; /* channels and buttons when clicked or selected */
    --active-2: #635c8a4d; /* extra state for transparent buttons */
    --message-hover: #0000001a; /* messages when hovered */

    /* accent colors */
    --accent-1: #8C1919; /* links and other accent text */
    --accent-2: #867a6d; /* small accent elements */
    --accent-3: #9e3131; /* accent buttons */
    --accent-4: #882d2d; /* accent buttons when hovered */
    --accent-5: #882d2d; /* accent buttons when clicked */
    --accent-new: var(--red-2); /* stuff that's normally red like mute/deafen buttons */
    --mention: linear-gradient(to right, color-mix(in hsl, var(--accent-2), transparent 90%) 40%, transparent); /* background of messages that mention you */
    --mention-hover: linear-gradient(to right, color-mix(in hsl, var(--accent-2), transparent 95%) 40%, transparent); /* background of messages that mention you when hovered */
    --reply: linear-gradient(to right, color-mix(in hsl, var(--text-3), transparent 90%) 40%, transparent); /* background of messages that reply to you */
    --reply-hover: linear-gradient(to right, color-mix(in hsl, var(--text-3), transparent 95%) 40%, transparent); /* background of messages that reply to you when hovered */

    /* status indicator colors */
    --online: var(--green-2); /* change to #43a25a for default */
    --dnd: var(--red-2); /* change to #d83a42 for default */
    --idle: var(--yellow-2); /* change to #ca9654 for default */
    --streaming: var(--purple-2); /* change to #593695 for default */
    --offline: var(--text-4); /* change to #83838b for default offline color */

    /* border colors */
    --border-light: var(--hover); /* general light border color */
    --border: var(--active); /* general normal border color */
    --border-hover: var(--active); /* border color of panels when hovered */
    --button-border: hsla(0, 1%, 63%, 0.1); /* neutral border color of buttons */

    /* base colors */
    /* 2nd and 3rd colors are the default rose pine moon palette */
    --red-1: #f88888;
    --red-2: #b32525;
    --red-3: #af3a3a;
    --red-4: #A14343;
    --red-5: #a11515;

    --green-1: #89b377;
    --green-2: #779968;
    --green-3: #6a8b5b;
    --green-4: #6a8b5b;
    --green-5: #31728c;

    --blue-1: hsl(189deg, 43%, 78%);
    --blue-2: #9dcfd8;
    --blue-3: hsl(189deg, 43%, 73%);
    --blue-4: hsl(189deg, 43%, 68%);
    --blue-5: hsl(189deg, 43%, 63%);

    --yellow-1: hsl(35deg, 88%, 77%);
    --yellow-2: hsl(35deg, 88%, 72%);
    --yellow-3: hsl(35deg, 88%, 72%);
    --yellow-4: hsl(35deg, 88%, 67%);
    --yellow-5: hsl(35deg, 88%, 62%);

    --purple-1: hsl(267deg, 57%, 83%);
    --purple-2: hsl(267deg, 57%, 78%);
    --purple-3: hsl(267deg, 57%, 78%);
    --purple-4: hsl(267deg, 57%, 73%);
    --purple-5: hsl(267deg, 57%, 68%);
}
 /* User profile sidebar */
    .user-profile-sidebar .inner_c0bea0 {
        --user-profile-overlay-background: var(--bg-3);
        --profile-gradient-secondary-color: var(--bg-4);
    }

    ::placeholder {
        color: var(--text-5);
    }

    .bg__960e4 /* main background */ {
        background: var(--bg-3);
    }

    .modeUnreadImportant__2ea32 .icon__2ea32,
    .wrapper__2ea32:hover .icon__2ea32 /* correct channel icon color */ {
        color: var(--text-3);
    }

    .text_b88801 > strong /* xxx is typing.. */ {
        color: var(--text-3);
    }

    .hiddenVisually_b18fe2[aria-expanded="false"] > .folderPreviewWrapper__48112 /* collapsed folders */ {
        --background-primary: var(--bg-3);
    }

    .panel__5dec7 /* game activity panel */,
        .container__722ff /* background between vc and vc chat */ {
        background: none;
    }

    .sidebar__409aa, /* user settings sidebar */
    .sidebarRegionScroller__23e6b /* server and channel settings sidebar */ {
        background-color: var(--bg-3);
    }
    .side_aa8da2 .item_aa8da2:hover /* settings tab */ {
        background-color: var(--bg-3) !important;
    }
    .side_aa8da2 .item_aa8da2:active,
    .side_aa8da2 .item_aa8da2.selected_aa8da2 {
        background-color: var(--bg-2) !important;
    }

    .quickSelectPopout_ebaca5 /* dm vc region select popout */,
    .participantsButton__211d1 /* vc participants button */,
    .voiceBar__7aaec /* n in voice bar (channel list) */,
    .mainCard_f369db /* form posts */,
    .accountProfileCard_a9178b /* account settings profile background */ {
        background-color: var(--bg-3);
    }

.sidebarList__5e434 /* channel list */ {
    margin-bottom: calc(var(--custom-app-panels-height, 0) + var(--gap));
    background-color: var(--bg-2);
}
.guilds__5e434 /* server list */ {
    margin-bottom: calc(var(--custom-app-panels-height, 0) + var(--gap));
    margin-right: var(--gap);
        background-color: var(--bg-2);

}
